{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
  <title>PicMate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Stalemate|Balthazar&subset=latin,latin-ext' rel='stylesheet'
  type='text/css'>
  <link type="text/css" rel="stylesheet" href="{% static 'css/snippet.css' %}"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-confirm.min.css' %}"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/dropzone.css' %}"  media="screen,projection"/>
  <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
  <header>
    {% block header %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><h1>PicMate</h1></a>
        </div>
        <div class="collapse navbar-collapse" id="mobile-nav">
          <div id="profile" class="pull-right">
            <div class="prof-pic">
              <img class="img-circle" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
            </div>
            <div class="dropdown">
              {% if user.is_authenticated %}
              <a class="capitalize dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button">Hi {{ user.first_name }}<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li>
                  <a class="dec small" href="/accounts/logout/">
                    Log out
                  </a>
                </li>
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% endblock %}
  </header>
  <div class="col-md-12">
    {% block content %}

    {% endblock %}
  </div>
  <footer>
    {% block footer%}


    {% endblock%}
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/layzr.js/2.0.2/layzr.min.js"></script>


  {% compress js %}
  <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/vendor/jquery-confirm.min.js' %}"></script>
  <script src="{% static 'js/vendor/lightbox.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap-filestyle.min.js' %}"></script>


  {% endcompress %}
  <div class="loading-modal"></div>
</body>
</html>