{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
  <title>PicMate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Stalemate|Balthazar&subset=latin,latin-ext' rel='stylesheet'
  type='text/css'>
  <link type="text/css" rel="stylesheet" href="{% static 'css/snippet.css' %}"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-confirm.min.css' %}"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/dropzone.css' %}"  media="screen,projection"/>
  <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
  <header>
    {% block header %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><h1>PicMate</h1></a>
        </div>
        <div class="collapse navbar-collapse" id="mobile-nav">
          <ul class="nav navbar-nav navbar-right">
            <li class="prof-pic">
              <img class="img-responsive img-circle" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
            </li>
            <li>
              <a class="navbar-text"></a>
            </li>
            <li>
              <a class="small"><em>
                {% if user.is_authenticated %}
                <p class="capitalize">Hi, {{ user.get_username }}</p>
                {% endif %}
              </em></a>
            </li>
            <li>
              <a class="dec small" href="/accounts/logout/">
                Log out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
  </header>
  <div class="">
    {% block content %}

    {% endblock %}
  </div>
  <footer>
    {% block footer%}


    {% endblock%}
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js"></script>

  {% compress js %}
  <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/vendor/jquery-confirm.min.js' %}"></script>
  <script src="{% static 'js/vendor/lightbox.js' %}"></script>

  {% endcompress %}


</body>
</html>