{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="wrapper" class="">
  <div id="sidebar-wrapper" class="row">
    <ul class="thumbs">
      <li>
        <div class="panel panel-default">
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% if form.non_field_errors%}
              {{ form.non_field_errors }} <br>
              {% endif %}
              {% if form.image.errors%}
              {{ form.image.errors }}
              {% endif %}
              <div class="form-group">
                {{ form.image }}
              </div>
              <div class="form-group text-center">
                <input class="btn btn-sm" type="submit" value="Upload" />
              </div>
            </form>
          </div>
        </div>
      </li>
      <li>
        {% for image in images %}
        <div class="well text-center">
          <a href="#" onclick="loadpic('{{ image.image.url }}', '{{ image.id }}')">
            <img class="thumbnail img-responsive" src="{% static '' %}{{ image.thumbnail.url }}" alt="{{ image.image.name }}">
          </a>
          <span class="small dec ">Added: {{ image.date_created }}</span>
        </div>
        {% endfor %}
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper" class="container-fluid">
    <div class="col-sm-9 text-center">
      <div id="content" class="panel panel-default">
        <div class="panel-heading hidden-lg hidden-md">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Select/Change Image</a>
        </div>
        <div id="effects" class="panel-body">
          <div id="picholder" class="text-center">
          <div class="row">
          <div class="col-sm-12">
            <h1>Available Effects</h1>
          </div>
            {% for effect in effects %}
                <div class="col-sm-3"><a href="#" ><img  src="{% static 'img/effects/' %}{{ effect.name }}.jpg" class="thumbnail img-responsive">{{ effect.name }}</a></div>
              {% endfor %}
            </div>
          </div>

          <div id="effectsholder" class="carousel slide carousel-fade  col-md-12 hidden"data-ride="carousel" data-type="multi">
          <div class="col-sm-1">
              <a class="left" href="#effectsholder" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            </div>
            <div class="col-sm-10">
              <div class="carousel-inner">
              {% for effect in effects %}
                <div class="item">
                <div class="col-sm-2"><img  src="{% static 'img/effects/' %}{{ effect.name }}.jpg" class="thumbnail img-responsive" id="{{ effect.id }}">{{ effect.name }}</div>
                </div>
              {% endfor %}
              </div>
            </div>
          <div class="col-sm-1"><a class="right" href="#effectsholder" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content col-sm-3 text-center">
      <div id="preview" class="text-center">

          </div>
    </div>
  </div>
</div>
{% endblock %}