{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
                <li class="sidebar-brand text-center">
                    <a href="/">
                        <h1>PicMate</h1>
                    </a>
                    <hr>
                </li>
                <li>

                </li>
            </ul>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse" id="mobile-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <img class="img-responsive img-circle" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                        </li>
                        <li>
                            <a class="navbar-text"></a>
                        </li>
                        <li>
                            <a class="small"><em>Hi {{ user.socialaccount_set.all.0.extra_data.name }}</em></a>
                        </li>
                        <li>
                            <a class="dec small" href="/accounts/logout/">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle</a>
            {{ user.socialaccount_set.all.0.extra_data }}
            </div>
        </div>


        <nav class="navbar navbar-fixed-bottom ">
            <div class="container-fluid">
                <p class="copyright pull-right navbar-text small">
                    By <a class="black-text" target="_blank" href="https://github.com/andela-egichuri">Eric G</a> from <a target="_blank" class="black-text" href="http://andela.co">Andela</a>
                </p>
            </div>
        </nav>

    </div>
</div>
{% endblock %}